.img {
  width: 100%;
  max-height: 540px;
  object-fit: cover;
  object-position: top center;
}

.arrow {
  margin: 0 80px;
}

.indicator {
  border: 1px solid #dbdbdb;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  transform: translateY(-60px);
}

.indicator:global(.active) {
  width: 56px;
  border-radius: 6px;
}

@media screen and (max-width: 1200px) {
  .img {
    height: 280px;
  }
  .arrow {
    display: none;
  }
}
